{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<h3>Welcome to the CourseCab online platform</h3>
<p>CourseCab is a marketplace for educational services. As an e-learning platform, our services include pre-recorded courses, online books, tutoring services, and much more. CourseCab works with the goal of smart and effective learning for everyone.</p>

<h3>A Center for Bringing Out the Exellence in You</h3>
<p>The platform is ready to support anyone with a passion to share and gain knowledge. With our fast and efficient services, we plan to give students and instructors the best e-learning experience around. We welcome skill and knowledge from all walks of life..</p>


<h3>Our Vision</h3>
<p>Our vision is to become a thriving e-learning marketplace that makes knowledge sharing as simple and widespread as possible in the age of modern technology</p>



{% endblock body %}
